.sectionForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.8),
      rgba(46, 47, 66, 0.9)
    ),
    url('../../img/1678920504_bogatyr-club-p-fon-simvoli-foni-vkontakte-10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.form {
  background: rgba(50, 36, 59)
    linear-gradient(360deg, rgba(48, 52, 90, 0.5), rgba(65, 255, 245, 0.4));
  position: absolute;
  margin: 20px auto;
  max-width: 380px;
  padding: 12px;
  border-radius: 20px 16px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.87);
}
.label {
  margin-left: 16px;
  color: rgb(172, 177, 177);
}

.btn {
  background: rgba(26, 31, 30, 0.2)
    linear-gradient(360deg, rgba(18, 19, 19, 0.5), rgba(106, 240, 233, 0.4));
  box-shadow: 0px 4px 0px rgba(22, 22, 22, 0.87);
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(172, 177, 177);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  border-radius: 16px;
}
.btn:hover,
.btn:focus {
  box-shadow: none;
  position: relative;
  top: 4px;
}

.error {
  color: rgb(201, 19, 19);
  font-size: 14px;
  text-align: right;
}
.field {
  background-color: #181818;
  color-scheme: light dark;
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  height: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  color: rgb(172, 177, 177);
  border: 1px solid transparent;
  transition: border 250ms ease-in-out;
  box-shadow: inset 2px 2px 4px rgb(10, 10, 10);
}
.field:hover,
.field:focus {
  background-color: #3b4f58;
}

.btnUp {
  position: absolute;
  bottom: 3px;
  right: 2px;
  background-color: transparent;
  padding: 4px 10px;
  margin-left: auto;
  margin-right: 0;
}
.btnUp .iconUp {
  transition: transform 250ms ease-in-out;
}
.btnUp:hover .iconUp,
.btnUp:focus .iconUp {
  transform: scale(1.1);
}
.iconUp {
  fill: rgb(172, 177, 177);
}
.title {
  font-size: 14px;
  text-align: right;
  color: rgb(172, 177, 177);
}
