.sectionForm {
  padding: 0 16px;
}

.form {
  background: rgba(26, 31, 30, 0.2)
    linear-gradient(360deg, rgba(18, 19, 19, 0.5), rgba(106, 240, 233, 0.4));
  position: relative;
  margin: 20px auto;
  max-width: 380px;
  padding: 12px;
  border-radius: 16px;
  text-align: left;
  box-shadow: -1px 0px 4px rgba(22, 22, 22, 0.87);
}
.label {
  margin-left: 16px;
  color: rgb(172, 177, 177);
}

.btn {
  background: rgba(26, 31, 30, 0.2)
    linear-gradient(360deg, rgba(18, 19, 19, 0.5), rgba(106, 240, 233, 0.4));
  box-shadow: 0px 4px 0px rgba(22, 22, 22, 0.87);
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(172, 177, 177);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  border: none;
  margin-top: 20px;
  padding: 10px;
}
.btn:hover,
.btn:focus {
  box-shadow: none;
  position: relative;
  top: 4px;
}

.error {
  color: rgb(201, 19, 19);
  font-size: 14px;
  text-align: right;
}

.field {
  background-color: #181818;
  color-scheme: light dark;
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  height: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 16px;
  color: rgb(172, 177, 177);
  border: 1px solid transparent;
  transition: border 250ms ease-in-out;
}
.field:hover,
.field:focus {
  background-color: #3a3939;
  box-shadow: inset 2px 2px 4px rgb(10, 10, 10);
}
.btnUp {
  position: absolute;
  bottom: 3px;
  right: 2px;
  background-color: transparent;
  padding: 4px 10px;
  margin-left: auto;
  margin-right: 0;
}
.btnUp .iconUp {
  transition: transform 250ms ease-in-out;
}
.btnUp:hover .iconUp,
.btnUp:focus .iconUp {
  transform: scale(1.1);
}
.iconUp {
  fill: rgb(172, 177, 177);
}
