.authNav {
  display: flex;
  gap: 20px;
  justify-content: right;
  font-size: 18px;
  font-weight: 700;
}
.link {
  transition: all 250ms ease-in-out;
}
.link:hover {
   color: rgb(233, 234, 240);
  
}
