a {
  text-decoration: inherit;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.8),
      rgba(46, 47, 66, 0.9)
    ),
    url('./img/1678920504_bogatyr-club-p-fon-simvoli-foni-vkontakte-10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  color: rgb(172, 177, 177);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
  /* color: rgb(172, 177, 177); */
}
span {
  margin: 0;
}
