.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.username {
  font-size: 20px;
}
.btn {
  background-color: inherit;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px 12px;
  transition: all 250ms ease-in-out;
}

.icon {
  fill: rgb(172, 177, 177);
  transition: all 250ms ease-in-out;
}
.btn:hover .icon {
  transform: scale(1.1);
  fill: rgb(240, 241, 243);
}
